*   
{
margin: 0;
padding: 0;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:   #05164C;
  border-bottom: 1px solid #2EBEF4;
}
.act
{
    margin-top: 10px;
    width: 5%;
    height: 5%;
    margin-left: 40px;
}
.navbar li
{
float: right;
}
.navbar li a
{
  display: block;
  color:  #D0DBE4;
  text-align: center;
  padding: 25px 27px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color:  #6699CC;
  opacity: 50%;
}
.active {
  background-color:   #336699;
  opacity: 90%;
}
.img 
{
height: 100%;
width: 100%;
}
.text
{
    background-color: #D0DBE4;
}
.text h2
{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #05164C;
    padding: 30px;
    text-align: center;
    border-bottom: 3px #FFCC00 solid;
    border-top: 3px #FFCC00 solid;
}
.text h3
{
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    margin-left: 50px;
}
.text p
{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
    margin-left: 80px;
    margin-right: 40px;
    line-height: 150%;
    text-align: justify;
    color: #444;
}
footer
{
  margin: 0;
  padding: 50px;
  overflow: hidden;
  background-color: #05164C; 
}
.ftext h4
{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #8DCFEE;
    line-height: 150%;
}
.ftext p
{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 150%;
    color: #8DCFEE;
}
.ftext a
{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 150%;
    color: #8DCFEE;
    text-decoration: none;
}
.ftext a:hover:not(.active)
{
    color:azure;
}